.social__wrapper {
    display: flex;
    flex-direction: column;
    width: 1180px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-bottom: 35px;
    margin: 0 auto;
    align-items: center;
  }
  
  .social__words {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  
  .social__list-title {
    margin: 0;
    padding-top: 55px;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 24px;
    color: #000000;
  }
  
  .social__list {
    display: flex;
    justify-content: space-between;
    width: 260px;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .social__item {
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 50%;
    background-color: #d4d4d4;
    cursor: pointer;
  
    &:hover {
      background-color: #e74c3c;
    }
  }
  
  .social__link {
    position: absolute;
    left: 10px;
    top: 10px;
  
    &--fb {
      top: 9px;
      left: 13px;
    }
  
    &--pinter {
      top: 7px;
      left: 8px;
    }
  
    &--inn {
      top: 9px;
      left: 11px;
    }
  
    &--youtube {
      top: 6px;
      left: 9px;
    } 
  }
  
  